
@media (max-width: 800px) {
    .flex-container{
      flex-direction: column;
    }
  }

  body{
    font-family: monospace;
    padding: 0;
    margin: 0;
  }

  .title{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;

  }

  .game{
    text-align: center;
  }

.flex-container{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}


.button{
    flex: 1;
    padding: 20px;
}

.button > button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    font-size: larger;
    font-family: monospace;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: solid;
}

#scissors{
  float: inline-start;
}
#rock{float: inline-end;}

.button > button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

#roundLog,.log{
    background-color: black;
    color: white;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
}

.results{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.scoreBoard{
  display:grid;
  grid-template-columns:repeat(2,.5fr);
  align-items: center;
  justify-items:center;
  padding: 50px;
}

#userScore,#compScore{
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
